.create-user-background {
  background: linear-gradient(180deg, rgba(88, 173, 235, 0.20) 0%, rgba(97, 177, 235, 0.10) 100%);;
}
.banner {
  background-image: url("../../assets/imgs/create-user/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

//mobile css

.create1-mobile-banner-spinner5{
  background-image: url("../../assets/imgs/create-user/spinner5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.create5-mobile-content-rating legend{
  font-family: Trebuchet MS;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;

}

.create5-mobile-content-rating  svg{
  width: 15px;
}