.create-user-background {
  background: linear-gradient(180deg, rgba(88, 173, 235, 0.20) 0%, rgba(97, 177, 235, 0.10) 100%);;
}
.create-employer-banner {
  background-image: url("../../assets/imgs/create-employer/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.company-avatar {
  position: relative;
}

//mobile css

.create-employer-mobile-banner{
  background-image: url("../../assets/imgs/create-employer/banner-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
}

.company-overview textarea{
  height: 160px;
}