.create-user-background {
  background: linear-gradient(180deg, rgba(88, 173, 235, 0.20) 0%, rgba(97, 177, 235, 0.10) 100%);;
}
.about-banner {
  background-image: url("../../assets/imgs/about/img-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-banner {
  background-image: url("../../assets/imgs/about/img-footerbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-ourstory {
  background-image: url("../../assets/imgs/about/img-ourstory.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.setup1-background {
  background-image: url("../../assets/imgs/about/setup1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.setup2-background {
  background-image: url("../../assets/imgs/about/setup2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.setup3-background {
  background-image: url("../../assets/imgs/about/setup3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.setup4-background {
  background-image: url("../../assets/imgs/about/setup4.png");
  background-repeat: no-repeat;
  background-size: cover;
}