.create-user-background {
  background: linear-gradient(180deg, rgba(88, 173, 235, 0.20) 0%, rgba(97, 177, 235, 0.10) 100%);;
}
.pricing-banner {
  background-image: url("../../assets/imgs/pricing/bg-pricing.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

//mobile css
.mobile-pricing-page-title h1{
  font-family: Trebuchet MS;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;  
}

.mobile-pricing-page-title p{
  font-family: Trebuchet MS;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #71727A;
}

.mobile-pricing-page-summary li{
  font-family: Trebuchet MS;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #182F43;
  padding-top: 13px;
}

.mobile-pricing-page-summary li::before{
  content: "\2022"; /* Unicode character for a bullet (•) */
  color: #1273EB; /* Set the color to red */
  font-size: 18px; /* Adjust the size as needed */
  margin-right: 8px; /* Add some spacing between the bullet and the text */
}