.search-input-bar {
  color: #9C9C9C;
  font-size: 14px !important;
  height: 40px;
  top: 0px;
  position: absolute;
  width: 100%;
  padding-left: 70px;
  left: 0;
  margin-top: 6px;
  @media (min-width: 1024px) {
    font-size: 18px !important;
  }
}

.search-input-bar:focus {
  outline: none;
}
  
.search-input-bar::placeholder {
  color: #9C9C9C;
  font-size: 14px;
  @media (min-width: 1024px) {
    font-size: 18px !important;
  }
}

.enlarger-icon {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  z-index: 1;
  position: relative;
}

.dropdown {
  margin-top: 10px;
  width: 100%;
  color: #374957;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 13.5px; /* 150% */;
  min-width: 0;
  height: 100%;
  max-height: 190px;
  overflow-x: hidden;
  background-color: #fff;
  visibility: hidden;
  z-index: 10;
  &.v {
    visibility: visible;
  }
}

.dropdown::-webkit-scrollbar {
  width: 4px;
}

.dropdown::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #BBB;
}

.dropdown_item {
  width: 100%;
  padding: 12px;
  text-align: left;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1d7;
  }
}

.location_dropdown {
  margin-top: 10px;
  width: 100%;
  color: #374957;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.5px; /* 150% */;
  min-width: 0;
  height: 100%;
  max-height: 190px;
  overflow-x: hidden;
  background-color: #fff;
  visibility: hidden;
  z-index: 10;
  &.v {
    visibility: visible;
  }
}

.location_dropdown::-webkit-scrollbar {
  width: 4px;
}

.location_dropdown::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.location_dropdown::-webkit-scrollbar-thumb {
  background-color: #BBB;
}

ul.location_list {
  list-style-type: disc;
  padding-left: 35px;
}

.item_text2 {
  font-size: 15px;
  color: #374957;
}

.video-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2196f3b3);
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-scrollbar-horizontal {
  background: transparent !important;
}

.section-icons-frame {
  background: linear-gradient(180deg, #2C8CF4 0%, rgba(44, 76, 244, 0.62) 100%);
}

.coach-background {
  background-image: url("../../assets/imgs/landing/frame-coach.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.coach-background-mobile {
  background-image: url("../../assets/imgs/landing/frame-coach.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.opportunity-background {
  background-image: url("../../assets/imgs/landing/frame-icons.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.opportunity-background-mobile {
  background-image: url("../../assets/imgs/landing/frame-icons.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.community-background {
  background-image: url("../../assets/imgs/landing/frame-community.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.community-background-mobile {
  background-image: url("../../assets/imgs/landing/frame-community.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}